


.container-portada{
    width: 100%;
    height: 400px;
    position: relative;
    background-image: url(/assets/runing.jpg);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
